.countries {
  max-height: 40rem;
  overflow: auto;
}
.table td,
.table th {
  vertical-align: middle;
}
.table th {
  position: sticky;
  top: -1px;
}

.country {
  display: flex;
  flex-direction: column;
}
