.modal {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #00416a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00416a, #e4e5e6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #00416a,
    #e4e5e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: fixed;
  width: 95%;
  height: 95%;
  left: 2.5%;
  top: 2%;
  border-radius: 0.75rem;
  flex-direction: column;
  overflow: auto;
}
.modal--medium {
  width: 50%;
  height: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}
.modal__header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}

.modal__container {
  display: flex;
  flex: 1 auto;
  max-width: 1366px;
}
